/* SET DEFAULT */

* {
  margin: 0;
  padding: 0;
}

/* GENERAL */

h3 {
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 5px;
}

footer {
  font-size: 14px;
  text-align: center;
  padding-top: 25px;
}

/* IDS */

#preferences {
  border: 1px solid black;
  padding: 20px;
  width: 400px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border-radius: 20px;
}

#preferences h1 {
  font-size: 70px;
}

#preferences li {
  list-style-type: none;
  padding-top: 10px;
}

#preferences input {
  width: 100px;
  padding: 1px;
  text-align: center;
}

#preferences label {
  display: block;
  margin-bottom: 5px;
  margin-top: 10px;
}

#allContent  {
  max-width: 1700px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 40px 10px 40px;
  border-radius: 25px;
}

#lorem0 {
  text-align: center;
  font-size: 30px;
}

#lorem0 h2 {
  font-size: 100px;
}

#lorem1 p, #lorem2 p, #lorem3 p{
  font-size: 16px;
  text-indent: 5px;
  text-align: justify;
}

/* Classes */

.flexDisplay {
  display: flex;
}

.flexDisplay p{
  margin-right: 30px;
}