/* Para os seguintes exercícios você não precisará alterar o arquivo HTML, apenas o CSS. 😉
1 - A primeira div só poderá aparecer se nossa tela possuir largura mínima de 500px.
2 - A segunda div só poderá aparecer apenas se a largura estiver entre 600px e 1000px.
3 - A terceira div não deverá aparecer se nossa tela possuir largura entre 650px e 950px.
4 - Sem alterar a classe trick, faça com que o texto dela apareça somente quando a tela estiver com menos de 500px de largura. */

.card:nth-child(1){
  display: none;
}

.card:nth-child(2){
  display: none;
}


@media screen and (max-width: 500px) {
  .card:nth-child(1){
    display: block;
  }  
}

@media screen and (max-width: 1000px) and (min-width: 600px) {
  .card:nth-child(2){
    display: block;
  }
}

@media screen and (max-width: 950px) and (min-width: 600px) {
  .card:nth-child(3){
    display: none;
  }
}

@media not screen and (max-width: 500px) {
  .trick {
    display: none;
  }  
}