/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* font-family: 'Bebas Neue', cursive; */

/* CORES */
*{
    --color-1: #8FF5B1;
    --color-2: #0db876;
    --color-3: #87bba7;
    --color-4: #284933;
    --color-dark-white:rgb(245, 245, 245);
    --color-darker-white:rgb(225, 225, 225);
}

/* SET DEFAUlT */

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-color: var(--color-3);
}

/* IDS */

#navegation{
    text-align: center;
    display: block;
    border: 1px solid black;
    border-radius: 0px 0px 25px 25px;
    background-color: var(--color-4);
}

#navegation li{
    display: inline-block;
    padding: 5px;
    padding-right: 80px;

}

#navegation a:hover{
    color:var(--color-1);
}

#navegation a{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}

/* CLASSES */

.display-flex{
    display: flex;
}

.dark-section{
    background-color: var(--color-darker-white);
}

.dark-section img{
    border-right: 2px solid var(--color-4);
}

.light-section img{
    border-left: 2px solid var(--color-4);
}

a.referencias{
    text-align: center;
    display: block;
    margin-top: 5px;
    color: var(--color-2);
    text-decoration: none;
    margin-top: 10px;
}

a.referencias:hover{
    text-decoration: underline;
}

/* OTHER */

header{
    background-color: var(--color-dark-white);
    max-width: 1200px;
    margin: auto;
    border-radius: 0px 0px 25px 25px;
    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
}

main{
    background-color: var(--color-dark-white);
    max-width: 1200px;
    margin: auto;
    margin-top: 50px;
    border-radius: 10px;
    border: 1px solid var(--color-4);
}

section{
    border: 1px solid var(--color-4);
}

article{
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    padding: 30px;
    font-size: 4.5em;
    color: var(--color-4);
}

h2{
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 3em;
    color: var(--color-4);
    padding-top: 20px;
    margin: 40px;
}

h3{
    color: var(--color-4);
    font-family: 'Bebas Neue', cursive;
    margin-top: -100px;
    text-align: center;
    padding-top: 20px;
    font-size: 1.75em;
    margin-bottom: 25px;
}

p{
    font-size: 1.1em;
    padding: 0px 20px 10px 20px;
    text-indent: justify;
    text-indent: 15px;
}

strong{
    color: var(--color-4);
}

img{
    max-width: 500px;
    flex-grow: 1;
    opacity: 80%;
}

aside{
    background-color: var(--color-dark-white);
    max-width: 1190px;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

aside a{
    display: block;
    color: var(--color-2);
    text-decoration: none;
}

aside a:hover{
    text-decoration: underline;
}

footer{
    color: white;
    padding-top: 10px;
    text-align: center;
}