* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(70, 70, 70);
}

main {
  display: flex;
  flex-direction: column;
  margin: 100px auto;
  margin-bottom: 5px;
  padding: 20px;
  text-align: center;
  background-color: rgb(225, 225, 225);
  max-width: 600px;
  border-radius: 10px;
}

h1 {
  font-size: 2.5rem;
  margin: 10px auto;
  color: rgb(12, 12, 12);
  font-family: 'Times New Roman', Times, serif;
}

li {
  list-style: none;
  font-size: 1.2rem;
  font-family: 'Courier New', Courier, monospace;
}

footer {
  text-align: center;
  color: white;
  font-size: .9rem;
}